@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


body{
background-color: rgb(242, 234, 234);
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ca5e68;
    color: #f3f3db;
    width: 60%;
    height: 300%;
    border-bottom-left-radius: 80px 80px;
    margin: 0 0px 0px 500px;
    align-items: flex-start;
    font-size: medium; 
}

.barrenav{
    margin-left: 50%;
    margin-bottom: 10%;
}

.barrenav ul a{
    text-decoration: none;
    color: #f3f3db;
    gap: 20px;
}

.barrenav ul{
   list-style: none;
   display: flex;
   align-items: center;
   gap: 20px;
}

.textenav{
    margin-left: 30%;
}

.logonav{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    margin-left: 30%;
    margin-bottom: 5%;
}


.barrenav, .textenav, .logonav{
    margin-top: 0%;
}

header .Hello{
    display: flex;
    margin: 285px;
    margin-top: -14%;
    font-size: 500;
    font-size: 250%;
    color: #d388c4;
    line-height: 77px;
    margin-bottom: 10%;
    
}

header .mesprojets{
margin: 60px;
font-size: 30px;
color: #7871FA;
text-align: inherit;
text-align: justify;
text-transform: uppercase;
text-wrap: wrap;
}



.projet1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.texteproject{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    font-size: small;
    color: #7871FA;
    text-align: left;
    padding-left: 236px;
    font-size: 15px;
}



.projet1 h3{
color: blueviolet;
text-align: center;

}

.projet1 p{
    font-style: italic;
    color: rgb(202 94 104);
}

.projet1 h3{
    color: blueviolet;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-size: 40px;
}

.projet1 img{
    width: 40%;
    object-position: 50px 0px;
    padding-bottom: 80px;
}

.cartesproject ul li{
    display: flex;
    flex-direction: column;
}

.cartep{
    text-align: center;
    font-weight: bold;
    margin: 10px;
    border:none;
    text-decoration: none;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background: #d388c4;
    color: #f205e6;
 }

.projet2 img{
    object-position:-50px;
}

.projet2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
}


.projet2 h3{
color: blueviolet;
text-align: center;
font-size: x-large;
font-weight: bold;
font-size: 40px;
}

.projet2 p{
    font-style: italic;
    color: rgb(202 94 104);
}


.projet2 img{
    width: 40%;
    object-position: 50px 0px;
    padding-bottom: 80px;
}

.cartep{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
    border:none;
    text-decoration: none;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background: #d388c4;
    color: #f205e6;
 }

 

.projet3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.projet3 h3{
color: blueviolet;
text-align: center;
font-size: 40px;
font-weight: bold;
}

.projet3 p{
    font-style: italic;
    color: rgb(202 94 104);
}



.projet3 img{
    width: 40%;
    object-position: 50px 0px;
    padding-bottom: 80px;
}

.cartesproject{
    display: flex;  
    flex-direction: column;
}
.cartep{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
    border:none;
    text-decoration: none;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background: #d388c4;
    color: #f205e6;
 }

article h1 h5{
    display: flex;
    color: #7871FA;
}

article .bio{
    text-align: center;
}

article{
    display: flex;
    background-color:  #ca5e68;
    border-radius: 5%
}

.apropos{
    color:#f3f3db; 
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.apropos h1{
    color:  #f3f3db;
    font-size: 40px;
    font-weight: bold;
}

.apropos h5{
    font-size:20px;
    font-weight: bold;
}


.compparcours{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    color:  #f3f3db;
}


.cartes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 100px;
    font-weight: 500;
    background-color: #dddddd;
    color: #f3f3db;
    margin: 10px;
    border:none;
    text-decoration: none;
    margin-left: -40px;
}

#parcours h5{
    text-align: start;
    font-size: 20px;
    color:  #f3f3db;
}

.competenceslogo h5{
    font-size: 20px;
}

.apropos p{
    color:  #f3f3db;
    font-size: small;
}


footer{
    text-align: center;
    padding-top: 8%;
    color: #a7a1a7;
 }
 
 footer .haut{
    text-decoration: none;
    text-align: end;
    color: #ca5e68;
 }
 